[user]
    name = yashigani
    email = tai.fukui@gmail.com
[core]
    pager = lv -c
    editor = vim
    excludesfile = /Users/taiki/.gitignore
    autocrlf = input
	quotepath = false
[color]
    ui = auto
[alias]
    st = status
    br = branch
    co = checkout
    cb = checkout -b
    cm = commit
    ca = commit -a
    srb = svn rebase
    scm = svn dcommit
