[user]
    name = yashigani
    email = tai.fukui@gmail.com

[core]
    pager = lv -c
    editor = vim
    excludesfile = ~/.gitignore
    autocrlf = input
    quotepath = false

[color]
    ui = auto

[alias]
    s = status -sb
    st = status -sb
    sh = show
    br = branch
    ad = add
    co = checkout
    cb = checkout -b
    ct = checkout -t # ex) co -t origin/hoge -> co hoge and track origin/hoge
    rb = rebase
    ri = rebase -i

    cm = commit
    ca = commit -a

    mg = merge
    mc = merge --no-ff --no-commit

    reset-top = reset --hard HEAD~
    delete-merged = !git branch --merged | grep -v \\* | xargs -I % git branch -d %

    ft = fetch
    pl = pull
    pus = push
    puhs = push
    ph = push

# log
    gr = log --graph --date-order -C -M --pretty=format:\"<%h> %ad [%an] %Cgreen%d%Creset %s\" --all --date=short
    g1 = log --graph --date-order -C -M --pretty=format:\"<%h> %ad [%an] %Cgreen%d%Creset %s\" --all --date=short -10
    g2 = log --graph --date-order -C -M --pretty=format:\"<%h> %ad [%an] %Cgreen%d%Creset %s\" --all --date=short -20
    g3 = log --graph --date-order -C -M --pretty=format:\"<%h> %ad [%an] %Cgreen%d%Creset %s\" --all --date=short -30
    g4 = log --graph --date-order -C -M --pretty=format:\"<%h> %ad [%an] %Cgreen%d%Creset %s\" --all --date=short -40
    g5 = log --graph --date-order -C -M --pretty=format:\"<%h> %ad [%an] %Cgreen%d%Creset %s\" --all --date=short -50
    ls = log --stat --abbrev-commit  # 変更されたファイルも表示
    lp = log -p --abbrev-commit      # diff も表示

# for git-svn
    srb = svn rebase
    scm = svn dcommit
    sft = svn fetch

# diff
    di = diff
    dm = diff master           # masterとのdiff
    dw = diff --color-words    # 単語単位でいろつけてdiff
    dc = diff --cached         # addされているものとのdiff
    ds = diff --staged         # 同上(1.6.1移行)
    d1 = diff HEAD~            # HEADから1つ前とdiff
    d2 = diff HEAD~~           # HEADから2つ前とdiff
    d3 = diff HEAD~~~          # HEADから3つ前とdiff
    d4 = diff HEAD~~~~         # HEADから4つ前とdiff
    d5 = diff HEAD~~~~~        # HEADから5つ前とdiff
    d10 = diff HEAD~~~~~~~~~~  # HEADから10前とdiff

# mergeの際にconflictが起きたファイルを編集
    edit-unmerged = "!f() { git ls-files --unmerged | cut -f2 | sort -u ; }; vim `f`"
# mergeの際にconflictが起きたファイルをadd
    add-unmerged = "!f() { git ls-files --unmerged | cut -f2 | sort -u ; }; git add `f`"

[push]
    default = upstream
