[user]
    name = yashigani
    email = tai.fukui@gmail.com
[core]
    pager = lv -c
    editor = vim
    excludesfile = /Users/taiki/.gitignore
    autocrlf = input
    quotepath = false
[color]
    ui = auto
[alias]
    st = status
    sh = show
    br = branch
    ft = fetch
    ad = add
    co = checkout
    cb = checkout -b

    cm = commit
    ca = commit -a

# log
    gr = log --graph --date-order -C -M --pretty=format:\"<%h> %ad [%an] %Cgreen%d%Creset %s\" --all --date=short
    ls = log --stat  # 変更されたファイルも表示
    lp = log -p      # diff も表示

# for git-svn
    srb = svn rebase
    scm = svn dcommit
    sft = svn fetch

# diff
    di = diff
    dm = diff master           # masterとのdiff
    dw = diff --color-words    # 単語単位でいろつけてdiff
    dc = diff --cached         # addされているものとのdiff
    ds = diff --staged         # 同上(1.6.1移行)
    d1 = diff HEAD~            # HEADから1つ前とdiff
    d2 = diff HEAD~~           # HEADから2つ前とdiff
    d3 = diff HEAD~~~          # HEADから3つ前とdiff
    d4 = diff HEAD~~~~         # HEADから4つ前とdiff
    d5 = diff HEAD~~~~~        # HEADから5つ前とdiff
    d10 = diff HEAD~~~~~~~~~~  # HEADから10前とdiff

# mergeの際にconflictが起きたファイルを編集
    edit-unmerged = "!f() { git ls-files --unmerged | cut -f2 | sort -u ; }; vim `f`"
# mergeの際にconflictが起きたファイルをadd
    add-unmerged = "!f() { git ls-files --unmerged | cut -f2 | sort -u ; }; git add `f`"
